<div class="row mb-2">
  <hr class='w-100'>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"><a class="" data-bs-toggle="modal"
    data-bs-target="#modalMaterial" (click)='alambreSeleccionado.emit(alambre)'>{{alambre.precio}}</a></div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">{{alambre.id}}</div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">{{alambre.diametroMilimetro}}</div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">{{alambre.longitudCentimetro}}</div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">{{alambre.cantidad}}</div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
  </div>
</div>
