<section class="row">
  <h1 class="nav justify-content-center"> ALAMBRE </h1>
</section>

<form #alambreForm="ngForm" (ngSubmit)="create(alambreForm)">
  <section class="row">
    <article class="col-1"></article>
    <article class="col-2"><br>
      <p class="nav justify-content-end"> PRECIO UNIDAD = </p><br><br>
      <p class="nav justify-content-end"> DIAMETRO = </p><br><br><br>
      <p class="nav justify-content-end"> LONGITUD = </p><br><br>
      <div class="form-row justify-content-between pt-5">
        <div class="col-lg-5 col-md-12">
          <button
            class="btn btn-primary"
            role="button"
            [disabled]="!alambreForm.valid">
            <span *ngIf="_alambre.id">Actualizar Alambre</span>
            <span *ngIf="!_alambre.id">Crear Alambre</span>
          </button>
        </div>
      </div>
    </article>

    <article class="col-2">
      <select class="form-select"
        [(ngModel)]="_alambre.precio"
        name="precio"
        required
        min="0.5"
        max="5.0"
        #precio="ngModel"
        [ngClass]="{
          'is-invalid': precio.invalid && (precio.dirty || precio.touched),
          'is-valid': !precio.invalid && precio.dirty && precio.value !=0}">
            <option value="0">Seleccione un valor</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="4">4</option>
      </select>

      <div class="text-danger"
        *ngIf="precio.invalid && (precio.dirty || precio.touched) || (precio.value ==0 && precio.dirty)">
                El precio del Alambre es obligatorio
      </div><br><br>

      <select class="form-select"
        [(ngModel)]="_alambre.diametroMilimetro"
        name="diametroMilimetro"
        required
        #diametroMilimetro="ngModel"
        [ngClass]="{
          'is-invalid': diametroMilimetro.invalid && (diametroMilimetro.dirty || diametroMilimetro.touched),
          'is-valid': !diametroMilimetro.invalid && diametroMilimetro.dirty}">
            <option value="0">Seleccione un valor</option>
            <option value="0.6">0.6</option>
            <option value="0.8">0.8</option>
            <option value="0.9">0.9</option>
            <option value="1.0">1.0</option>
            <option value="1.2">1.2</option>
      </select>

      <div class="text-danger"
        *ngIf="diametroMilimetro.invalid && (diametroMilimetro.dirty || diametroMilimetro.touched) || (diametroMilimetro.value ==0 && diametroMilimetro.dirty)">
            El diametro del Alambre es obligatorio
      </div><br><br>

      <select class="form-select"
          [(ngModel)]="_alambre.longitudCentimetro"
          name="longitudCentimetro"
          required
          min="1"
          max="20"
          #longitudCentimetro="ngModel"
          [ngClass]="{
            'is-invalid': longitudCentimetro.invalid && (longitudCentimetro.dirty || longitudCentimetro.touched),
            'is-valid': !longitudCentimetro.invalid && longitudCentimetro.dirty}">
            <option value="0">Seleccione un valor</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
      </select>

      <div class="text-danger"
        *ngIf="longitudCentimetro.invalid && (longitudCentimetro.dirty || longitudCentimetro.touched) || (longitudCentimetro.value ==0 && longitudCentimetro.dirty)">
            La longitud del Alambre es obligatorio
      </div><br><br>
    </article>

    <article class="col-1">
      <p> € </p><br>
      <p> mm </p><br>
      <p> cm </p>
    </article>
    <article class="col-2"><br>
      <p class="nav justify-content-end"> CANTIDAD = </p>
    </article>

    <article class="col-2">
      <select class="form-select"
          [(ngModel)]="_alambre.cantidad"
          name="cantidad"
          required="required"
          min="1"
          max="4"
         #cantidad="ngModel"
          [ngClass]="{
              'is-invalid': cantidad.invalid && (cantidad.dirty || cantidad.touched),
              'is-valid': !cantidad.invalid && cantidad.dirty}">
        <option value="0">Seleccione un valor</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>

      <div class="text-danger"
        *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched) || (cantidad.value ==0 && cantidad.dirty)">
            La cantidad de Alambre es obligatorio
      </div><br><br><br><br><br><br><br><br><br><br>

      <div *ngIf="!_alambre.id" class="nav justify-content-end">
        <input class="btn btn-danger btn-sm" type="reset" value="Limpiar">
      </div>
    </article>
  </section>
</form>
