<footer id="footer">
  <div class="row">
    <div class="col">
      <p>Author: Ernesto Fernandez Novo <br>
        <a href="mailto:novodental@gmail.com">novodental@gmail.com</a></p>
    </div>
    <div class="col justify-content-stretch">
      <img width="50" height="30" src="assets/imagen casita.jpg" alt="casita">
      <a class="nav-link home" routerLink="/" routerLinkActive="router-link-active">
        <h4><strong>HOME</strong></h4>
      </a>
    </div>
    <div class="col display-2">
      <article class="justify-content-end">
      <ul>
        <li class="submenu">
          <button type="button" class="btn btn-lg btn-danger" title="Ernesto Fernandez Novo
            ACING (Hoyo de Manzanares)
            Telefono: 675345685">Contacto</button>
        </li>
       </ul>
      </article>
    </div>
  </div>
</footer>
