

<section>
  <div class="row">
    <div class="col-10 col-sm-10 col-md-3 col-lg-1 col-xl-3">TIPO_DE_MATERIAL</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">ID MATERIAL</div>
    <div class="col-10 col-sm-8 col-md-3 col-lg-1 col-xl-2">PRECIO</div>
    <div class="col-10 col-sm-8 col-md-3 col-lg-2 col-xl-1">DIAMETRO</div>
    <div class="col-10 col-sm-8 col-md-3 col-lg-2 col-xl-1">LONGITUD</div>
    <div class="col-10 col-sm-8 col-md-3 col-lg-2 col-xl-1">DIRECCION APERTURA</div>
    <div class="col-10 col-sm-8 col-md-3 col-lg-2 col-xl-1">APERTURA</div>
  </div>
  </section>

  <!-- <div *ngFor = "let material of materiales">
    <app-material-item [material]="material" (materialSeleccionado) = "verDatos($event)"></app-material-item>
  </div> -->
