



<!-- <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
  <div class="form-group col-md-3">
    <select class="form-control" formControlName="type" (change)="cambiaTipo($event)">
      <option *ngFor="let elemento of tipo" [value]="elemento.id">
        <span>{{ elemento.description }}</span>
      </option>
    </select>
  </div>

  <div class="form-group col-md-3">
    <label>Precio</label>
    <input type="number" formControlName="number" class="form-control" placeholder="Precio Material"
      [ngClass]="{'is-invalid': material.precio}" />

    <div *ngIf="material.precio" class="invalid-feedback">
    </div>
  </div>
  <div class="form-group col-md-3" *ngIf="materialForm && materialForm.value.type == 1">
    <section>
      <div class="">
        <label for="diametroMilimetro">diametroMilimetro &nbsp; </label>
        <input type="number" formControlName="Diametro" class="form-control" placeholder="Diametro en milimetros"
          [ngClass]="{'is-invalid': material.diametroMilimetro}" />
      </div>
      <div class="">
        <label for="longitudCentimetro">longitudCentimetro &nbsp; </label>
        <input type="number" formControlName="longitudCentimetro" class="form-control" placeholder="Longitud en Centimetros"
          [ngClass]="{'is-invalid': material.longitudCentimetro}" />
      </div>
      <div class="form-group ">
        <label> Ortodoncia </label>
        <select class="form-control" formControlName="Ortodoncia" (change)="cambiaTipo($event)">
          <option *ngFor="let elemento of ortodoncias" value="{{elemento.urlOrtodoncia}}">
            <span>{{ elemento.id }}&nbsp;{{ elemento.tipoTrabajo }}</span>
          </option>
        </select>
      </div>
    </section>
  </div>

  <div *ngIf="materialForm && materialForm.value.type == 2">
    <div class="form-group col-md-3">
      <label>DireccionApertura</label>
      <input type="number" formControlName="DireccionApertura" class="form-control" placeholder="Direccion de Apertura" />
    </div>

    <div class="form-group col-md-3">
      <label>AperturaMilimetros</label>
      <input type="number" formControlName="AperturaMilimetros" class="form-control" placeholder="Apertura en Milimetros" />
    </div>
    <div class="form-group ">
      <label> Ortodoncia </label>
      <select class="form-control" formControlName="Ortodoncia" (change)="cambiaTipo($event)">
        <option *ngFor="let elemento of ortodoncias" value="{{elemento.urlOrtodoncia}}">
          <span>{{ elemento.id }}&nbsp;{{ elemento.tipoTrabajo }}</span>
        </option>
      </select>
    </div>
  </div>

  <section #botones>
    <button type="reset" class="btn">Borrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary">Aceptar</button>
  </section>
</form>
asan:{{materialForm && materialForm.value.type == 2}}
aori:{{materialForm && materialForm.value.type == 1}} -->
